{% extends "base.html" %} {% load static %} {% block content %}
<div class="container">
  <section class="py-5 text-center container">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">My Profile Info</h1>
      <a class="fw-light" href="album/">Vosit My Album HERE</a>
    </div>
  </section>
  <div class="row">
    {% for i in profile %}
    <div class="col-lg-6 col-sm-6 text-center container">
      <div class="card hovercard">
        <div class="cardheader"></div>

        <div class="avatar">
          <img src="{{i.image.url}}" alt=".my image" />
        </div>
        <div class="info">
          <div class="title">
            <a target="_blank" href="https://www.facebook.com/me.arife"
              >{{i.name}}</a
            >
          </div>
          <div class="desc">My Adress {{i.address}}</div>
          <div class="desc">I am {{i.age}}</div>
        </div>
      </div>
    </div>
    {%endfor %}
  </div>
</div>
{% endblock content %}
<!-- 

<div class="card" style="width: 22rem">
  {% for i in profile %}
  <img src="{{i.image.url}}" class="card-img-top" alt=".my image" />
  <div class="card-body">
    <h2>my name is: {{ i.name}}</h2>
    <h3>I am: {{i.age}} old</h3>
    <h4>my address is: {{i.address}}</h4>
  </div>
  {%endfor %} -->
