{% extends "base.html" %} {% load static %} {% block content %}
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">My Photo Album</h1>
        <a class="fw-light" href="/">Vosit My Profile HERE</a>
        <p class="lead text-muted">
          here all about my photos album as well memory so can make yourself as
          well. everything is pretty good
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for album in album %}
        <div class="col">
          <div class="card shadow-sm">
            <img
              class="card-img-top"
              src="{{album.thumbnail.url}}"
              alt="image"
            />
            <div class="card-body">
              <p class="card-text">{{album.description | slice:":200"}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="#" class="btn btn-primary">Details Album</a>
                <small class="text-muted"
                  >{{album.created_at |timesince}}</small
                >
              </div>
            </div>
          </div>
        </div>
        {%endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock content %}
